.cabecalho{
    background-color: rgb(70, 31, 107);
    border: 11px;
    border-color: rgb(17, 109, 109);
    border-style: dashed;
    margin: 11px;
    color: rgb(249, 224, 224);
    font-weight: 400;
} 

#Akatsuki2{
    width: 170px;
    border: 6px rgb (168, 10, 10)4, 84, 144) solid;
}

.principal{
    background-color: rgb(146, 84, 204);
    border: 11px;
    border-color: rgb(19, 18, 18)128, 128, 128));
    border-style: dashed;
    margin: 31px;
    color: rgb(210, 189, 189);
}