.cabecalho{
    background-color: rgb(51, 3, 96);
    border: 11px;
    border-color: rgb(17, 109, 109);
    border-style: dashed;
    margin: 11px;
    color: black;
    font-weight: 400;
} 

#Akatsuki.2{
    width: 200px;
    border: solid
}