#link{
     font-size: 20px;
     color: black;
     text-decoration: none;
}

#link:hover{
     font-size: 26px;
     color: rgb(233, 231, 231);
     text-decoration: underline;
}

body{
     background-color: rgb(143, 126, 238);
}

#imagem-konan{
     width: 250px;
     border: solid 10px rgb(51, 30, 170) ;
}

.principal{
     background-color: rgb(162, 161, 235);
     color: black;
}

.rodape{
     background-color: rgb(153, 153, 241);
     color: black;
     text-align: center;
}
